<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Список прочитанных документов не выгружается ни в облачный бэкап,
         ни на новое устройство: подробности в data_extraction_rules.xml. -->
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PdfReader">

        <!-- configChanges: поворот экрана не пересоздаёт активити, поэтому
             документ не перечитывается заново и не теряет масштаб с прокруткой.

             launchMode=singleTask: открытый из чужого приложения документ
             попадает в СВОЮ задачу, а не в задачу того, кто его прислал. Иначе
             читалка, вызванная из мессенджера, выглядит его частью: отдельной
             карточки в недавних приложениях нет, а "назад" из документа
             возвращает прямо в переписку. -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Чтобы приложение предлагалось при открытии PDF из проводника -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

            <!-- Часть проводников и мессенджеров не знает тип файла и отдаёт его
                 как поток байтов - для таких опираемся на расширение. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.PDF" />
            </intent-filter>

            <!-- "Поделиться -> PDF Reader" из другого приложения -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
    </application>

</manifest>
